{% extends "layout/cms-admin-layout" %}


{% block content %}
<div id="main-content" class="page-profil">
            <div class="row">

                <!-- BEGIN PROFIL SIDEBAR -->
                <div class="col-md-3 profil-sidebar">
                    <img src="/assets/img/profil_page/me.jpg" class="img-responsive" alt="profil">
                    <div class="p-20">
                        <div class="profil-sidebar-element">
                            <h4>ABOUT ME</h4>
                            <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis pra quem é amistosis quis leo.</p>
                        </div>
                        <div class="profil-sidebar-element">
                            <h4 class="pull-left">FRIENDS</h4>
                            <div class="sidebar-number pull-right">42</div>
                            <div class="clearfix m-b-10"></div>
                            <h5 class="pull-left">MUTUAL FRIENDS</h5>
                            <div class="sidebar-number pull-right">7</div>
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="p-10 clearfix">
                                    <div class="col-md-2 col-sm-3 col-xs-4">
                                        <img src="/assets/img/avatars/avatar1_big.png" class="img-small-friend" alt="avatar 1">
                                    </div>
                                    <div class="col-md-2 col-sm-3 col-xs-4">
                                        <img src="/assets/img/avatars/avatar2_big.png" class="img-small-friend" alt="avatar 2">
                                    </div>
                                    <div class="col-md-2 col-sm-3 col-xs-4">
                                        <img src="/assets/img/avatars/avatar3_big.png" class="img-small-friend" alt="avatar 3">
                                    </div>
                                    <div class="col-md-2 col-sm-3 col-xs-4">
                                        <img src="/assets/img/avatars/avatar4_big.png" class="img-small-friend" alt="avatar 4">
                                    </div>
                                    <div class="col-md-2 col-sm-3 col-xs-4">
                                        <img src="/assets/img/avatars/avatar5_big.png" class="img-small-friend" alt="avatar 5">
                                    </div>
                                    <div class="col-md-2 col-sm-3 col-xs-4">
                                        <img src="/assets/img/profil_page/more.jpg" class="img-small-friend" alt="">
                                    </div>
                                </div>
                            </div>
                            <p>You and John are not friend yet</p>
                            <div>
                                <button type="button" class="btn btn-block btn-blue bd-0 no-bd"><i class="glyphicon glyphicon-user"></i> Add John to my friends list</button>
                            </div>
                        </div>
                        <div class="profil-sidebar-element">
                            <h4>PERSONAL STATS</h4>
                            <p class="c-gray m-t-0"><i>Last connection: 2 days ago</i>
                            </p>
                            <h5>AVERAGE RATING</h5>
                            <div id="stars" class="starrr pull-left">
                                <span class="fa .fa-star fa-star"></span>
                                <span class="fa .fa-star fa-star"></span>
                                <span class="fa .fa-star fa-star"></span>
                                <span class="fa .fa-star fa-star"></span>
                                <span class="fa .fa-star fa-star-o"></span>
                            </div>
                            <div class="sidebar-number pull-right">4/5</div>
                            <div class="clearfix"></div>
                            <h5>MY SHARING</h5>
                            <p class="m-t-0"><span class="c-blue"><strong>15</strong></span> Replies</p>
                            <p class="m-t-0"><span class="c-blue"><strong>8</strong></span> Messages</p>
                            <p class="m-t-0"><span class="c-blue"><strong>24</strong></span> Questions</p>
                        </div>
                        <div class="profil-sidebar-element">
                            <h4>SOCIAL SHARING</h4>
                            <div class="social-btn-small"><a href="#" class="zocial icon facebook m-0">Sign in with Facebook</a>
                            </div>
                            <div class="social-btn-small"><a href="#" class="zocial icon twitter m-0">Sign in with Twitter</a>
                            </div>
                            <div class="social-btn-small"><a href="#" class="zocial icon googleplus m-0">Sign in with Google+</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PROFIL SIDEBAR -->

                <!-- BEGIN PROFIL CONTENT -->
                <div class="col-md-9 profil-content m-t-20">
                    <h2>HI! I'M <span class="c-blue">JOHN</span></h2>
                    <div class="row">
                        <div class="col-md-12 profil-presentation">
                            <p>
                                <i class="fa fa-quote-left c-blue"></i>
                                I love to travel all around the world and discover new countries. Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis pra quem é amistosis quis leo.
                                <i class="fa fa-quote-right c-blue"></i>
                            </p>
                        </div>
                    </div>
                    <h4>MY GROUPS</h4>
                    <div class="row profil-groups">
                        <div class="col-md-6">
                            <div class="row border-gray">
                                <div class="col-xs-4">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-6 thumb">
                                            <img src="/assets/img/profil_page/nature1.jpg" class="img-small-friend" alt="">
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6 thumb">
                                            <img src="/assets/img/profil_page/nature2.jpg" class="img-small-friend" alt="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-6 thumb">
                                            <img src="/assets/img/profil_page/nature3.jpg" class="img-small-friend" alt="">
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6 thumb">
                                            <img src="/assets/img/profil_page/nature4.jpg" class="img-small-friend" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-8 p-0 profil-group">
                                    <h4 class="c-blue">Nature</h4>
                                    <p><strong>654 members</strong>
                                    </p>
                                    <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis pra quem é amistosis quis leo.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row border-gray">
                                <div class="col-xs-4">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-6 thumb">
                                            <img src="/assets/img/profil_page/construction1.jpg" class="img-small-friend" alt="">
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6 thumb">
                                            <img src="/assets/img/profil_page/construction2.jpg" class="img-small-friend" alt="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-6 thumb">
                                            <img src="/assets/img/profil_page/construction3.jpg" class="img-small-friend" alt="">
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6 thumb">
                                            <img src="/assets/img/profil_page/construction4.jpg" class="img-small-friend" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-8 p-0 profil-group">
                                    <h4 class="c-blue">Construction</h4>
                                    <p><strong>654 members</strong>
                                    </p>
                                    <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis pra quem é amistosis quis leo.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 border-bottom p-t-20"></div>
                    </div>
                    <h4>MY REVIEWS</h4>
                    <div class="row profil-review">
                        <div class="col-md-6">
                            <div class="p-20">
                                <div class="row">
                                    <div class="col-xs-3 col-md-3 p-r-10">
                                        <img src="/assets/img/profil_page/review1.png" alt="review 1" class="img-rounded img-responsive" />
                                    </div>
                                    <div class="col-xs-9 col-md-9 section-box">
                                        <h2>
                          My Magazine <a href="#" target="_blank"></a>
                        </h2>
                                        <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis.</p>
                                        <hr />
                                        <div class="row rating-desc">
                                            <div class="col-md-12">
                                                <div class="stars" class="starrr pull-left">
                                                    <span class="fa .fa-star fa-star"></span>
                                                    <span class="fa .fa-star fa-star"></span>
                                                    <span class="fa .fa-star fa-star"></span>
                                                    <span class="fa .fa-star fa-star"></span>
                                                    <span class="fa .fa-star fa-star-o"></span>
                                                </div>
                                                (36)<span class="separator">|</span>
                                                <i class="fa fa-comments-o"></i> 100 Comments
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="p-20">
                                <div class="row">
                                    <div class="col-xs-3 col-md-3 p-r-10">
                                        <img src="/assets/img/profil_page/review2.png" alt="jQuery2DotNet" class="img-rounded img-responsive" />
                                    </div>
                                    <div class="col-xs-9 col-md-9 section-box">
                                        <h2>
                          My 2nd review <a href="#" target="_blank"></a>
                        </h2>
                                        <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis.</p>
                                        <hr />
                                        <div class="row rating-desc">
                                            <div class="col-md-12">
                                                <div class="stars" class="starrr pull-left">
                                                    <span class="fa .fa-star fa-star"></span>
                                                    <span class="fa .fa-star fa-star"></span>
                                                    <span class="fa .fa-star fa-star"></span>
                                                    <span class="fa .fa-star fa-star-o"></span>
                                                    <span class="fa .fa-star fa-star-o"></span>
                                                </div>
                                                (18)<span class="separator">|</span>
                                                <i class="fa fa-comments-o"></i> 54 Comments
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 border-bottom p-t-20"></div>
                    </div>
                    <h4>MY PICTURES</h4>
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <div class="row form-group">
                                    <div class="col-xs-12 col-md-6">
                                        <div class="panel panel-default">
                                            <div class="panel-image">
                                                <img src="/assets/img/profil_page/pics1.jpg" class="panel-image-preview" />
                                            </div>
                                            <div class="panel-footer text-center">
                                                <a href="#download"><span class="glyphicon glyphicon-download"></span></a>
                                                <a href="#facebook"><span class="fa fa-facebook"></span></a>
                                                <a href="#twitter"><span class="fa fa-twitter"></span></a>
                                                <a href="#share"><span class="glyphicon glyphicon-share-alt"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        <div class="panel panel-default">
                                            <div class="panel-image">
                                                <img src="/assets/img/profil_page/pics2.jpg" class="panel-image-preview" />
                                            </div>
                                            <div class="panel-footer text-center">
                                                <a href="#download"><span class="glyphicon glyphicon-download"></span></a>
                                                <a href="#facebook"><span class="fa fa-facebook"></span></a>
                                                <a href="#twitter"><span class="fa fa-twitter"></span></a>
                                                <a href="#share"><span class="glyphicon glyphicon-share-alt"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-xs-12 col-md-6">
                                        <div class="panel panel-default">
                                            <div class="panel-image">
                                                <img src="/assets/img/profil_page/pics3.jpg" class="panel-image-preview" />
                                            </div>
                                            <div class="panel-footer text-center">
                                                <a href="#download"><span class="glyphicon glyphicon-download"></span></a>
                                                <a href="#facebook"><span class="fa fa-facebook"></span></a>
                                                <a href="#twitter"><span class="fa fa-twitter"></span></a>
                                                <a href="#share"><span class="glyphicon glyphicon-share-alt"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        <div class="panel panel-default">
                                            <div class="panel-image">
                                                <img src="/assets/img/profil_page/pics4.jpg" class="panel-image-preview" />
                                            </div>
                                            <div class="panel-footer text-center">
                                                <a href="#download"><span class="glyphicon glyphicon-download"></span></a>
                                                <a href="#facebook"><span class="fa fa-facebook"></span></a>
                                                <a href="#twitter"><span class="fa fa-twitter"></span></a>
                                                <a href="#share"><span class="glyphicon glyphicon-share-alt"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PROFIL CONTENT -->

            </div>
        </div>	

{% endblock content %}