{% extends "layout/cms-admin-layout" %}

{% block content %}
<div id="main-content">
    <div class="page-title"> <i class="icon-custom-left"></i>
        <h2>Parameters <small>here you can update your info &amp; notifications settings</small></h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form action="#"  class="form-horizontal" role="form" id="settings">
                    <!-- BEGIN TABS -->
                    <div class="tabbable tabbable-custom form">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#general_settings" data-toggle="tab">INFOS</a></li>
                            <li><a href="#email_settings" data-toggle="tab">NOTIFICATIONS</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="space20"></div>
                            <div class="tab-pane active" id="general_settings">
                                <div class="row profile">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <ul class="list-unstyled profile-nav col-md-3">
                                                    <li>
                                                        <img src="/assets/img/avatars/avatar4_big.png" alt="avatar 4"/>
                                                    </li>
                                                </ul>
                                                <div class="col-md-9">
                                                    <div class="row">
                                                        <div class="col-md-12 profile-info">
                                                            <h1>John Addams</h1>
                                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt laoreet dolore magna aliquam tincidunt erat volutpat laoreet dolore magna aliquam tincidunt erat volutpat.</p>
                                                            <div class="m-t-10"></div>
                                                            <ul class="list-unstyled list-inline">
                                                                <li class="m-r-20"><i class="fa fa-map-marker p-r-5 c-dark"></i> New York</li>
                                                                <li class="m-r-20"><i class="fa fa-calendar p-r-5 c-purple"></i> July 2012</li>
                                                                <li class="m-r-20"><i class="fa fa-briefcase p-r-5 c-brown"></i> Webmaster</li>
                                                                <li class="m-r-20"><i class="fa fa-star p-r-5 c-blue"></i> Moderator</li>
                                                                <li><i class="fa fa-heart p-r-5 c-red"></i> Swimming</li>
                                                            </ul>
                                                            <div class="m-t-20"></div>
                                                            <a href="profil.html" class="btn btn-dark">See my Profil</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="alert alert-block alert-info fade in width-100p">
                                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                                    <h5>Your profil is visible by all users. <a href="#">Edit my parameters</a></h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row profile-classic">
                                            <div class="col-md-12 m-t-20">
                                                <div class="panel">
                                                    <div class="panel-title line">
                                                        <div class="caption"><i class="fa fa-phone c-gray m-r-10"></i> CONTACT</div>
                                                    </div>
                                                    <div class="panel-body">
                                                        <div class="row">
                                                            <div class="control-label c-gray col-md-3">Email:</div>
                                                            <div class="col-md-6">
                                                                <input type="text" class="form-control" id="field-1" value="john@yahoo.com">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="control-label c-gray col-md-3">Phone:</div>
                                                            <div class="col-md-6">
                                                                <input type="text" class="form-control" id="field-1" value="02 988 774">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="control-label c-gray col-md-3">Mobile:</div> 
                                                            <div class="col-md-6">
                                                                <input type="text" class="form-control" id="field-1" value="06 336 22 44 55">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row profile-classic">
                                            <div class="col-md-12">
                                                <div class="panel">
                                                    <div class="panel-title line">
                                                        <div class="caption"><i class="fa fa-info c-gray m-r-10"></i> ABOUT</div>
                                                    </div>
                                                    <div class="panel-body">
                                                        <div class="row">
                                                            <div class="control-label col-md-3 p-t-0">Member since:</div> 
                                                            <div class="col-md-6">July 2012</div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="control-label col-md-3 p-t-0">Invited by:</div> 
                                                            <div class="col-md-6"><a href="#">John Pharell</a></div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="control-label col-md-3">Surname:</div> 
                                                            <div class="col-md-6">
                                                                <input type="text" class="form-control" id="field-1" value="Tod"></div>

                                                        </div>
                                                        <div class="row">
                                                            <div class="control-label col-md-3">Hobbies:</div> 
                                                            <div class="col-md-6">
                                                                <input type="text" class="form-control" id="field-1" value="football, basket"></div>
                                                        </div>
                                                        
                                                        <div class="row">
                                                            <div class="control-label col-md-3">Fun facts:</div> 
                                                            <div class="col-md-6">
                                                                <input type="text" class="form-control" id="field-1" value="Love to go in space"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row profile-classic">
                                            <div class="col-md-12">
                                                <div class="panel">
                                                    <div class="panel-title line">
                                                        <div class="caption"><i class="fa fa-group c-gray m-r-10"></i> FAMILY</div>
                                                    </div>
                                                    <div class="panel-body">
                                                        <div class="row">
                                                        <div class="control-label col-md-3">Children:</div> 
                                                        <div class="col-md-6">
                                                            <input type="text" class="form-control" id="field-1" value="William"></div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="control-label col-md-3">Dogs:</div> 
                                                            <div class="col-md-6">
                                                                <input type="text" class="form-control" id="field-1" value="Marley">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row profile-classic">
                                            <div class="col-md-12">
                                                <div class="panel">
                                                    <div class="panel-title line">
                                                        <div class="caption"><i class="fa fa-home c-gray m-r-10"></i> ADDRESS</div>
                                                    </div>
                                                    <div class="panel-body">
                                                        <div class="row">
                                                            <div class="control-label col-md-3">Street:</div> 
                                                            <div class="col-md-6">
                                                                <input type="text" class="form-control" id="field-1" value="25 Jump Street">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="control-label col-md-3">City:</div> 
                                                            <div class="col-md-6">
                                                                <input type="text" class="form-control" id="field-1" value="New York">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="control-label col-md-3">Zip Code:</div> 
                                                            <div class="col-md-6">
                                                                <input type="text" class="form-control" id="field-1" value="10 007">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row profile-classic">
                                            <div class="col-md-12">
                                                <div class="panel">
                                                    <div class="panel-title line">
                                                        <div class="caption"><i class="fa fa-bar-chart-o c-gray m-r-10"></i> PERSONAL STATS</div>
                                                    </div>
                                                    <div class="panel-body">
                                                        <div class="row">
                                                            <div class="control-label col-md-3 p-t-0">ARTICLES:</div> 
                                                            <div class="col-md-9">4</div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="control-label col-md-3 p-t-0">ANSWERS:</div> 
                                                            <div class="col-md-9">2</div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="control-label col-md-3 p-t-0">PICTURES:</div> 
                                                            <div class="col-md-9">1</div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="control-label col-md-3 p-t-0">EVENTS:</div> 
                                                            <div class="col-md-9">1</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                        <div class="col-sm-12">
                                            <div class="align-center">
                                                <button class="btn btn-primary m-r-20">Validate</button>
                                                <button type="reset" class="btn btn-default">Cancel</button>
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="email_settings">
                                <p class="m-t-20">You will receive your notification here youremail@yahoo.fr <a href="#"><strong>Change my email</strong></a></p>
                                <div class="m-t-10"></div>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="col-md-3"></th>
                                            <th class="col-md-3">
                                            <strong>INSTANTLY</strong><br/>
                                            <span>receive an email directly after update</span>
                                            </th>
                                            <th class="col-md-3"><strong>DAYLY</strong><br/>
                                            <span>receive one email by day with all updates</span>
                                            </th>
                                            <th class="col-md-3"><strong>NO EMAIL</strong><br/>
                                            <span>See updates only when I sign in.</span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="4"><strong>MESSAGES</strong></td>
                                        </tr>
                                        <tr>
                                            <td>My contacts</td>
                                            <td>
                                                <input type="radio" name="contacts" value="1" checked/>
                                            </td>
                                            <td>
                                                <input type="radio" name="contacts" value="2"/>
                                            </td>
                                            <td>
                                                <input type="radio" name="contacts" value="3"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Other people</td>
                                            <td>
                                                <input type="radio" name="people" value="1"/>
                                            </td>
                                            <td>
                                                <input type="radio" name="people" value="2" checked/>
                                            </td>
                                            <td>
                                                <input type="radio" name="people" value="3"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Smallads</td>
                                            <td>
                                                <input type="radio" name="smallads" value="1"/>
                                            </td>
                                            <td>
                                                <input type="radio" name="smallads" value="2" checked/>
                                            </td>
                                            <td>
                                                <input type="radio" name="smallads" value="3" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>News</td>
                                            <td>
                                                <input type="radio" name="news" value="1" checked/>
                                            </td>
                                            <td>
                                                <input type="radio" name="news" value="2"/>
                                            </td>
                                            <td>
                                                <input type="radio" name="news" value="3"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Recommandations</td>
                                            <td>
                                                <input type="radio" name="recommandations" value="1"/>
                                            </td>
                                            <td>
                                                <input type="radio" name="recommandations" value="2"/>
                                            </td>
                                            <td>
                                                <input type="radio" name="recommandations" value="3" checked/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Important Alerts (<a href="#" class="c-blue">SMS</a>)</td>
                                            <td>
                                                <input type="radio" name="alerts" value="1" checked/>
                                            </td>
                                            <td>
                                                <input type="radio" name="alerts" value="2"/>
                                            </td>
                                            <td>
                                                <input type="radio" name="alerts" value="3"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Messages sent by email</td>
                                            <td colspan="3">
                                                <label>
                                                    <input type="checkbox" checked>Send me a confirmation when I send an email.
                                                </label>   
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Welcome message</td>
                                            <td colspan="3">
                                                <label>
                                                    <input type="checkbox" checked>Send a message when someone thanks me for my message.
                                                </label> 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4"><strong>MEMBERS</strong></td>
                                        </tr>
                                        <tr>
                                            <td>New members</td>
                                            <td colspan="3">
                                                <label>
                                                    <input type="checkbox" checked>Send me a confirmation when I send an email.
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Contacts not verified</td>
                                            <td colspan="3">
                                                <label>
                                                    <input type="checkbox" checked>Send me a message.
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4"><strong>PICTURES</strong></td>
                                        </tr>
                                        <tr>
                                            <td>New Pictures</td>
                                            <td>
                                                <input type="radio" name="pics" value="option1" checked/>
                                            </td>
                                            <td>
                                                <input type="radio" name="pics" value="option1"/>
                                            </td>
                                            <td>
                                                <input type="radio" name="pics" value="option1"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Pictures from friends</td>
                                            <td colspan="3">
                                                <label>
                                                    <input type="checkbox" checked>Send me an email
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4"><strong>ANSWERS</strong></td>
                                        </tr>
                                        <tr>
                                            <td>New Answer from users</td>
                                            <td>
                                                <input type="radio" name="answers" value="1" checked/>
                                            </td>
                                            <td>
                                                <input type="radio" name="answers" value="2"/>
                                            </td>
                                            <td>
                                                <input type="radio" name="answers" value="3"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Answer one of my message</td>
                                            <td colspan="3">
                                                <label>
                                                    <input type="checkbox" checked>Send me an email when someone answer one of my message.
                                                </label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="row">
                                    
                                    <div class="col-sm-12">
                                    <div class="align-center m-t-20">
                                        <button class="btn btn-primary m-r-20">Validate</button>
                                        <button type="reset" class="btn btn-default">Cancel</button>
                                    </div>
                                </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--END TABS-->
                </form>=
        </div>
    </div>


</div>
<!-- END MAIN CONTENT -->
{% endblock content %}   

