{% extends "layout/cms-admin-layout" %}

{% set area = 'Create Members' %}
{% set datapage = 'form_wizard' %}


{% block style %}
<!-- BEGIN PAGE LEVEL STYLE -->
<link rel="stylesheet" href="/components/bootstrap-application-wizard/src/bootstrap-wizard.css">
<link rel="stylesheet" href="/admin-ui/assets/plugins/jquery-steps/jquery.steps.css">
<!-- END PAGE LEVEL STYLE -->
{% endblock style %}

{% block script %}
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script type="text/javascript" src="/admin-ui/assets/plugins/jquery-validation/jquery.validate.min.js"></script>
<script type="text/javascript" src="/admin-ui/assets/plugins/jquery-validation/additional-methods.min.js"></script>
{# <script type="text/javascript" src="/admin-ui/assets/plugins/wizard/wizard.js"></script> #}
<script type="text/javascript" src="/admin-ui/assets/plugins/jquery-steps/jquery.steps.js"></script>
<script type="text/javascript" src="/admin-ui/assets/js/form_wizard.js"></script>
<!-- END  PAGE LEVEL SCRIPTS -->
{% endblock script %}

{% block content %}
<!-- BEGIN MAIN CONTENT -->
<div id="main-content">
<div class="page-title"> <i class="icon-custom-left"></i>
    <h3><strong>Members</strong> Wizard</h3>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-8">
                        <!-- <p>Here is an example of a complete wizard form in modal window.</p> -->
                        <!-- BEGIN FORM WIZARD WITH VALIDATION -->
                        <form class="form-wizard" action="#" method="post">
                            <h1>Access Account</h1>
                            <section>
                                <h2 class="hidden">&nbsp;</h2>
                                <div class="form-group">
                                    <label for="email">Email *</label>
                                    <input id="email" name="email" type="text" class="form-control required email">
                                </div>
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input id="username" name="username" type="text" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="password">Password *</label>
                                    <input type="password" class="form-control" id="password" name="password" placeholder="user password" data-serialize="1" />
                                </div>



                                <div class="form-group">
                                  
                                    <label for="password_confirm">Password Confirm *</label>
                                    <input type="password" class="form-control" id="password_confirm" name="password_confirm" placeholder="user password confirm" data-serialize="1" />
                                  
                                </div>
                                
                                <label for="roles">Super Powers!</label>
                                <select id="roles" name="roles" class="form-control" title="Select an account type...">
                                    <option value="member" selected="selected">Default (Member)</option>
                                    <option value="hulk">The Green Hulk</option>
                                    <option value="superman">Superman</option>
                                </select>
                                
                                
                                
                            </section>
                            <h1>General</h1>
                            <section>
                            <div class="form-group">
                                <label for="name">First name *</label>
                                <input id="firstname" name="firstname" type="text" class="form-control required">
                            </div>
                            <div class="form-group">
                                <label for="surname">Last name *</label>
                                <input id="lastname" name="lastname" type="text" class="form-control required">
                            </div>
                            <div class="form-group">
                                <label for="phone">Phone</label>
                                <input id="phone" name="phone" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="address">Address</label>
                                <input id="address" name="address" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="city">City</label>
                                <input id="city" name="city" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="state">State</label>
                                <input id="state" name="state" type="text" class="form-control">
                            </div>
                            
                            </section>

                            <h1>Profile</h1>
                            <section>
                                <h2 class="hidden">&nbsp;</h2>
                                <div class="form-group">
                                    <label for="gmail">Gmail</label>
                                    <input id="gmail" name="gmail" type="text" class="form-control email">
                                </div>
                                <div class="form-group">
                                    <label for="facebook">Facebook Account</label>
                                    <input id="facebook" name="facebook" type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="twitter">Twitter Account</label>
                                    <input id="twitter" name="twitter" type="text" class="form-control">
                                </div>
                                <p>(*) Mandatory</p>
                            </section>

                            <h1>Finish</h1>
                            <section>
                                <h2 class="hidden">&nbsp;</h2>
                                <span>Terms and Conditions</span>
                                <div class="pos-rel p-l-30">
                                    <input id="acceptTerms" name="acceptTerms" type="checkbox" class="pos-rel p-l-30 required">
                                    <label for="acceptTerms">I agree with the Terms and Conditions.</label>
                                </div>
                            </section>
                        </form>
                        <!-- END FORM WIZARD WITH VALIDATION -->
                    </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- END MAIN CONTENT -->
{% endblock content %}

