{% extends "layout/cms-admin-layout" %}

{% block script %}
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/admin-ui/assets/plugins/quicksearch/jquery.quicksearch.js"></script>
<script src="/admin-ui/assets/js/members.js"></script>
<!-- END PAGE LEVEL SCRIPTS -->
{% endblock script %}

{% block content %}
<!-- BEGIN MAIN CONTENT -->
<div id="main-content">
    <div class="page-title"> <i class="icon-custom-left"></i>
        <h2>Members <small>list of users registered</small></h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" id="member-finder" class="form-control" placeholder="Search a member...">
                        </div>
                        <div class="col-md-8 align-right m-t-10">
                            <span class="c-gray m-r-20">Filter by
                                <a href="#" class="m-l-10 m-r-5">Date</a> 
                                <span class="c-gray-light">/</span> 
                                <a href="#" class="m-l-5 m-r-5">Name</a> 
                                <span class="c-gray-light">/</span> 
                                <a href="#" class="c-blue m-l-5">City</a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        {{ identity().getApi() }}
                        {{ dump(response.data) }}
                        {# {% if response.data is defined %}
                            
                            {% for member in response.data %}
                                {{ dump(member) }}
                                <div class="col-md-4 member-entry">
                                    <div class="row member">
                                        <div class="col-xs-3">
                                            <img src="/admin-ui/assets/img/avatars/avatar1_big.png" alt="avatar 1" class="pull-left img-responsive">
                                        </div>
                                        <div class="col-xs-9">
                                            <h3 class="m-t-0 member-name"><strong>John Snow</strong></h3>
                                            <div class="pull-left">
                                                <p><i class="fa fa-envelope-o c-gray-light p-r-10"></i> cameso@it.com</p>
                                                <p><i class="fa fa-facebook c-gray-light p-r-10"></i> facebook.com/jsnow</p>
                                            </div>
                                            <div class="pull-right align-right">
                                                <p><i class="fa fa-calendar c-gray-light p-r-10"></i> 6 may 2014</p>
                                                <p><i class="fa fa-map-marker c-gray-light p-r-10"></i> New York</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>    
                        
                        {% endfor %}
                    {% endif %} #}
                    <div class="m-t-30 align-center">
                       <ul class="pagination">
                            <li><span><i class="fa fa-angle-left c-gray-light"></i></span></li>
                            <li class="active"><span>1</span></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><span>...</span></li>
                            <li><a href="#">9</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
{% endblock content %}        






                                {# <div class="row">
                        {{ identity().getApi() }}
                        {% if response.data.members is defined %}
                            {% for member in response.data.members %}
                                
                                <div class="col-md-4 member-entry memeber-{{ member.id }}">
                                    <div class="row member">
                                        <div class="col-xs-3">
                                            <img src="/assets/img/avatars/avatar1_big.png" alt="avatar 1" class="pull-left img-responsive">
                                              
                                        </div>
                                        <div class="col-xs-9">
                                            <h3 class="m-t-0 member-name"><strong>{{ member.username|default("Add Username") }}</strong></h3>
                                            
                                            <div class="pull-left">
                                            
                                                {% if member.email is defined %}
                                                    <p><i class="fa fa-envelope-o c-green p-r-10"></i>{{ member.email }}</p>
                                                {% endif %}
                                                
                                                {% if member.gmail is defined %}
                                                    <p><i class="fa fa-google-plus c-red p-r-10"></i>{{ member.gmail }}</p>
                                                {% endif %}

                                                
                                                {% if member.facebook is defined %}
                                                    <p><i class="fa fa-facebook c-blue p-r-10"></i>{{ member.facebook }}</p>
                                                {% endif %} 

                                                {% if member.twitter is defined %}
                                                    <p><i class="fa fa-twitter c-blue p-r-10"></i>{{ member.twitter }}</p>
                                                {% endif %}   

                                            </div>

                                            
                                            <div class="pull-right align-right">

                                                
                                                <p><i class="fa fa-calendar c-gray-light p-r-10"></i> 6 may 2014</p>
                                                <p><i class="fa fa-map-marker c-gray-light p-r-10"></i>{{ member.location }}</p>
                                                
                                                
                                                <button type="button" class="btn btn-primary pull-left"><i class="fa fa-user"></i> </button>
                                                <button type="button" class="btn btn-danger pull-right"><i class="fa fa-bolt "></i></button>
                                                
                                                
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            {% endfor %}
                        {% endif %}


                    </div> #}