{% extends "layout/cms-login-layout" %}

{% block style %}
    
{% endblock style %}

{% block content %}
    
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <h1 class="text-center login-title">Sign in to continue</h1>
                <div class="account-wall">
                    <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120" alt="">
                    <form class="form-signin" method="post" action="#" role="form">
                        <input type="text" id="email" name="email" class="form-control" placeholder="Email" required autofocus>
                        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                        <a href="#" class="need-help">Need help? </a><span class="clearfix"></span>
                    </form>
                </div>
                <a href="#" class="text-center new-account">Sign in with a different account</a>
                
            </div>
        </div>
    </div>

{% endblock content %}


