<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js sidebar-large lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js sidebar-large lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js sidebar-large lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js sidebar-large"> <!--<![endif]-->

<head>
    <!-- BEGIN META SECTION -->
    <meta charset="utf-8">
    <title>Responsive Cms Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="" name="description" />
    <link rel="shortcut icon" href="admin-ui/assets/img/favicon.png">
    <!-- END META SECTION -->

    <!-- BEGIN MANDATORY STYLE -->
    <link href="/admin-ui/assets/css/icons/icons.min.css" rel="stylesheet">
    <link href='/components/bootstrap/dist/css/bootstrap.min.css' rel="stylesheet">
    <link href="/admin-ui/assets/css/plugins.min.css" rel="stylesheet">
    <link href="/admin-ui/assets/css/style.min.css" rel="stylesheet">
    <link href="#" rel="stylesheet" id="theme-color">
    <!-- END  MANDATORY STYLE -->
    <!-- BEGIN PAGE LEVEL STYLE -->
    <link href="/admin-ui/assets/plugins/fullcalendar/fullcalendar.css" rel="stylesheet">
    <link href="/admin-ui/assets/plugins/metrojs/metrojs.css" rel="stylesheet">
    {% block style %}{% endblock style %}
    


    <script src="/admin-ui/assets/plugins/modernizr/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>


<body data-page="{{ datapage | default('dashboard') }}">
    <!-- BEGIN TOP MENU -->
    {% include 'cms-admin-layout-topmenu' %}
    <!-- END TOP MENU -->
    
    <!-- BEGIN WRAPPER -->
    <div id="wrapper">
        <!-- BEGIN MAIN SIDEBAR -->
        {% include 'cms-admin-layout-sidebar' %}
        <!-- END MAIN SIDEBAR -->


        {% block content %}{{ content|raw }}{% endblock content %}   

    </div>
    <!-- END WRAPPER -->

    <!-- BEGIN CHAT MENU -->
    {% include 'cms-admin-layout-chatmenu' %}
    <!-- END CHAT MENU -->
    
    <!-- BEGIN MANDATORY SCRIPTS -->
    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script src="/components/sizzle/dist/sizzle.min.js"></script>
    <script src="/components/jquery-migrate/jquery-migrate.min.js"></script>
    <script src="/components/jquery-ui/ui/minified/jquery-ui.min.js"></script>
    <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/components/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"></script>
    <script src="/components/bootstrap-select/bootstrap-select.js"></script>
    <script src="/components/jquery-mousewheel/jquery.mousewheel.min.js"></script>
    <script src="/admin-ui/assets/plugins/mcustom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/admin-ui/assets/plugins/mmenu/js/jquery.mmenu.min.js"></script>
    <script src="/components/nprogress/nprogress.js"></script>
    <script src="/admin-ui/assets/plugins/charts-sparkline/sparkline.min.js"></script>
    <script src="/admin-ui/assets/plugins/numerator/jquery-numerator.js"></script>
    <script src="/components/js-breakpoints/breakpoints.js"></script>
    <script src="/components/jquery-cookie/jquery.cookie.js"></script>

    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="/admin-ui/assets/plugins/metrojs/metrojs.min.js"></script>
    <script src='/admin-ui/assets/plugins/fullcalendar/moment.min.js'></script>
    <script src='/admin-ui/assets/plugins/fullcalendar/fullcalendar.min.js'></script>
    <script src="/admin-ui/assets/plugins/simple-weather/jquery.simpleWeather.min.js"></script>
    <script src="/admin-ui/assets/plugins/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
    {# // <script src="admin-ui/assets/js/calendar.js"></script> #}
    {# // <script src="admin-ui/assets/js/dashboard.js"></script> #}
    <!-- END  PAGE LEVEL SCRIPTS -->
    <script src="/admin-ui/assets/js/application.js"></script>
    
    {% block script %}{% endblock script %}
    {% block inline %}{% endblock inline %}
</body>

</html>
