<div class="footer-widget">
    <div class="footer-gradient"></div>
    <div id="sidebar-charts">
        <div class="sidebar-charts-inner">
            <div class="sidebar-charts-left">
                <div class="sidebar-chart-title">Orders</div>
                <div class="sidebar-chart-number">1,256</div>
            </div>
            <div class="sidebar-charts-right" data-type="bar" data-color="theme">
                <span class="dynamicbar1"></span>
            </div>
        </div>
        <hr class="divider">
        <div class="sidebar-charts-inner">
            <div class="sidebar-charts-left">
                <div class="sidebar-chart-title">Income</div>
                <div class="sidebar-chart-number">$47,564</div>
            </div>
            <div class="sidebar-charts-right" data-type="bar" data-color="theme">
                <span class="dynamicbar2"></span>
            </div>
        </div>
        <hr class="divider">
        <div class="sidebar-charts-inner">
            <div class="sidebar-charts-left">
                <div class="sidebar-chart-title">Visits</div>
                <div class="sidebar-chart-number" id="number-visits">147,687</div>
            </div>
            <div class="sidebar-charts-right" data-type="bar" data-color="theme">
                <span class="dynamicbar3"></span>
            </div>
        </div>
    </div>
    <div class="sidebar-footer clearfix">
        <a class="pull-left" href="/admin/profile/edit" data-rel="tooltip" data-placement="top" data-original-title="Settings"><i class="glyph-icon flaticon-settings21"></i></a>
        <a class="pull-left toggle_fullscreen" href="#" data-rel="tooltip" data-placement="top" data-original-title="Fullscreen"><i class="glyph-icon flaticon-fullscreen3"></i></a>
        <a class="pull-left" href="/logout" data-rel="tooltip" data-placement="top" data-original-title="Lockscreen"><i class="glyph-icon flaticon-padlock23"></i></a>
        <a class="pull-left" href="/logout" data-rel="tooltip" data-placement="top" data-original-title="Logout"><i class="fa fa-power-off"></i></a>
    </div> 
</div>