<nav id="sidebar">
    <div id="main-menu">
        <ul class="sidebar-nav">
            <li class="current">
                <a href="/admin"><i class="fa fa-dashboard"></i><span class="sidebar-text">Dashboard</span></a>
            </li>
            <li>
                <a href="/" target="_blank"><i class="glyph-icon flaticon-frontend"></i><span class="sidebar-text">Frontend</span></a>
            </li>
            <li>
                <a href="#"><i class="glyph-icon flaticon-account"></i><span class="sidebar-text">Account</span><span class="fa arrow"></span></a>
                  <ul class="submenu collapse">
                    <li>
                        <a href="/profile"><span class="sidebar-text">User Profile</span></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="admin/members"><i class="fa fa-group"></i></i><span class="sidebar-text">Members</span></a>
            </li>
            
                                
        </ul>   
    </div>
    {% include 'cms-admin-layout-sidebar-footer' %}
</nav>







