<!DOCTYPE html>
<html lang="en">
  <head>
    
    <title>Signin Template for Bootstrap</title>

    <link href='/components/bootstrap/dist/css/bootstrap.min.css' media="screen" rel="stylesheet" type="text/css">
    <link href='/components/bootstrap/dist/css/bootstrap-theme.min.css' media="screen" rel="stylesheet" type="text/css">
    <link href='/custom/signin.css' media="screen" rel="stylesheet" type="text/css">
    {% block style %}{% endblock style %}
    
    <script type="text/javascript" src='/components/jquery/dist/jquery.min.js'></script>
    <script type="text/javascript" src='/components/bootstrap/dist/js/bootstrap.min.js'></script>
    {% block script %}{% endblock script %}

  </head>

  <body>
    
    {% block content %}{{ content|raw }}{% endblock content %}


    
    
    {% block inline %}{% endblock inline %}
  </body>
</html>